{% extends "user_account/user_base_account.html" %}
{% block account %}
<div>
    <form action="{% url 'account_details' %}" method="POST">
        {% csrf_token %}
        {{ user_form.first_name.label_tag }}
        {{ user_form.first_name }}
        {{ user_form.last_name.label_tag }}
        {{ user_form.last_name }}
        {{ user_form.username.label_tag }}
        {{ user_form.username }}
        {{ user_form.email.label_tag }}
        {{ user_form.email }}
        
        <button type="submit" name="update_info" class="btn btn-outline-primary-2 " style="margin-left: 300px;">
            <span>UPDATE INFORMATION</span>
            <i class="icon-long-arrow-right"></i>
        </button>
    </form>
     <br>
     <br>
    <form action="{% url 'account_details' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                <label>Current Password</label>
                {{ password_form.current_password }}
            </div>
            <div class="col-sm-6">
                <label>New Password</label>
                {{ password_form.new_password }}
            </div>
        </div>
        <label>Confirm New Password</label>
        {{ password_form.confirm_password }}
        <button type="submit" name="change_password" class="btn btn-outline-primary-2" style="margin-left: 300px;">
            <span>CHANGE PASSWORD</span>
            <i class="icon-long-arrow-right"></i>
        </button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% comment %} <script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message.tags }}',
                text: '{{ message }}',
            });
        {% endfor %}
    {% endif %}
</script> {% endcomment %}

<script>
    {% if messages %}
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message.tags }}',
                text: '{{ message }}',
                {% if message.tags == 'success' and password_updated %}
                footer: '<a href="{% url 'log_in' %}">Please log in</a>'
                {% endif %}
            });
        {% endfor %}
    {% endif %}
</script>

<script>
    {% if error_messages %}
        {% for message in error_messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message.tags }}',
                text: '{{ message }}'
            });
        {% endfor %}
    {% endif %}
</script>
{% endblock account %}


{% comment %} 
{% extends "user_account/user_base_account.html" %}
{% block account %}
                <div >
                    <form action="{% url 'update_account_details' %}" method="POST">
                        {% csrf_token %}
                                    <div class="row">
                                    
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            <input type="text" name="first_name" value="{{account_datails.first_name}}" class="form-control" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Last Name *</label>
                                            <input type="text" name="last_name"  value="{{account_datails.last_name}}" class="form-control" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Display Name *</label>
                                    <input type="text" name="username"  value="{{account_datails.username}}" class="form-control" required>
                                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                    <label>Email address *</label>
                                    <input type="email" name="email"  value="{{account_datails.email}}" class="form-control" required>

                                    <label>Current password (leave blank to leave unchanged)</label>
                                    <input type="password" name="password" value="{{account_datails.password}}" class="form-control">

                                   

                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                </form>
                            
                            </div><!-- .End .tab-pane --> 
{% endblock account %} {% endcomment %}


 {% comment %} <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control">

                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control mb-2"> {% endcomment %}