{% extends "admin_dash/dash.html" %}
{% load static %}

{% block content %}
<div class="main-panel">
  <div class="content-wrapper">
      <div class="page-header">
          <h3 class="page-title">Product Management</h3>
          {% comment %} <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
              </ol>
          </nav> {% endcomment %}
         
      </div>

      <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Add Product</h4>
                  <p class="card-description">Basic form layout</p>
                  {% for message in messages%}
                  <p style="color: red;">{{ message }}</p>
                      {% endfor %}
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        {% if form.name.errors %}
                            <p style="color: red;">{{ form.name.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.description.label_tag }}
                        {{ form.description }}
                        {% if form.description.errors %}
                            <p style="color: red;">{{ form.description.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.price.label_tag }}
                        {{ form.price }}
                        {% if form.price.errors %}
                            <p style="color: red;">{{ form.price.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.stock.label_tag }}
                        {{ form.stock }}
                        {% if form.stock.errors %}
                            <p style="color: red;">{{ form.stock.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.status.label_tag }}
                        {{ form.status }}
                        {% if form.status.errors %}
                            <p style="color: red;">{{ form.status.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.brand.label_tag }}
                        {{ form.brand }}
                        {% if form.brand.errors %}
                            <p style="color: red;">{{ form.brand.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.categories.label_tag }}
                        {{ form.categories }}
                        {% if form.categories.errors %}
                            <p style="color: red;">{{ form.categories.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.offer.label_tag }}
                        {{ form.offer }}
                        {% if form.offer.errors %}
                            <p style="color: red;">{{ form.offer.errors.0 }}</p>
                        {% endif %}
                    </div>
                    
                    <div class="form-group">
                        {{ form.filter_price.label_tag }}
                        {{ form.filter_price }} 
                        {% if form.filter_price.errors %}
                            <p style="color: red;">{{ form.filter_price.errors.0 }}</p>
                        {% endif %}
                    </div>

                      {% comment %} <div class="form-group">
                          <label for="id_name">Name</label>
                          <input type="text" name="name" class="form-control" id="id_name" placeholder="Product name">
                          
                      </div>

                      <div class="form-group">
                          <label for="id_description">Description</label>
                          <textarea name="description" class="form-control" id="id_description" rows="4" placeholder="Enter Description"></textarea>
                      </div>

                      <div class="form-group">
                          <label for="id_price">Price</label>
                          <input type="text" name="price" class="form-control" id="id_price" placeholder="Price">
                          
                      </div>

                     
                      <div class="form-group">
                          <label for="id_stock">Stock</label>
                          <select name="stock" class="form-control" id="id_stock">
                              <option value="IN STOCK">IN STOCK</option>
                              <option value="OUT OF STOCK">OUT OF STOCK</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="id_status">Status</label>
                          <select name="status" class="form-control" id="id_status">
                              <option value="Publish">Publish</option>
                              <option value="Draft">Draft</option>
                          </select>
                      </div>

                     

                      <div class="form-group">
                        <label for="id_categories">Category</label>
                        <select name="categories" class="form-control" id="id_categories">
                            {% for category in all_categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_brand">Brand</label>
                        <select name="brand" class="form-control" id="id_brand">
                            {% for brand in brands %}
                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_brand">Offer</label>
                        <select name="offers" class="form-control" id="id_offer">
                            {% for offer in offers %}
                                <option value="{{ offer.id }}">{{ offer.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_filter_price">Filter Price</label>
                        <select name="filter_price" class="form-control" id="id_filter_price">
                            {% for f_price in filter_price %}
                                <option value="{{ f_price.id }}">{{ f_price.price }}</option>
                            {% endfor %}
                        </select>
                    </div>
                     {% endcomment %}

                      <button type="submit" class="btn btn-success mr-2">Add</button>
                      <a href="{% url 'product_management' %}" class="btn btn-dark">Cancel</a>
                  </form>

                 
              </div>
          </div>
      </div>
  </div>
</div>





{% endblock content %}
