{% extends "admin_dash/dash.html" %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
     {% comment %} <h3 class="page-title"> Basic Tables </h3> {% endcomment %}
    </div>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Banner</h4>
              <label class="badge badge-success"><a style="color : white;" href="{% url 'add_banner_image'%}">+ Add Banner
              </a></label>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Main Title</th>
                      <th>Subtitle&nbsp1</th>
                      <th>Subtitle&nbsp2</th>
                      <th>Images</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for banner in all_banner %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ banner.title}}</td>
                      <td>{{ banner.subtitle_1 }}</td>
                      <td>{{ banner.subtitle_2}}</td>
                      <td><img src="{{ banner.banner.url }}" alt="Banner Image"></td>
                      {% if banner.is_available == True %}
                          <td><label class="badge badge-danger"><a style="color: white;" href="{% url 'delete_banner' banner.id %}">Block</a></label></td>
                      {% else%}
                          <td><label class="badge badge-success"><a style="color: white;" href="{% url 'delete_banner' banner.id %}">Unblock</a></label></td>
                    {% endif %}
                    </tr>
                     {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      
     </div>
          {% for message in messages %}
          <p>{{message}}</P>
          {% endfor %}
  </div>
  </div>

{% endblock content %}