{% extends "admin_dash/dash.html" %}
{%load static %}
{% block content %}


<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h4 class="card-title">OFFER &nbspMANAGEMENT</h4>
      </div>
      {% comment %} <div class="row"> {% endcomment %}
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            {% include "alert.html" %}
            <div class="card-body">

                 <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>TITLE</th>
                      <th>OFFERS</th>
                      <th>ADD &amp; EDIT</th>
                      <th>ACTIONS</th>
                     </tr>
                  </thead>
                  <tbody>
                    {% for category in categories%}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{category.name}}</td>
                      <td style="color:{%if category.offer%}yellow{%else%}red{%endif%}">
                        {%if category.offer%}
                        {{category.offer }}
                        {% else %}
                        No Offers
                        {% endif %}
                    </td>
                      <td><label class="badge badge-info"><a style="color : white;" href="{% url 'offers_for_category' category.id%}">+ Add &amp; edit</a></label>
                      </td>
                      {% if category.offer%}
                      <td><label class="badge badge-danger"><a style="color : white;" href="{% url 'remove_category_offer' category.id%}">Remove</a></label>
                      </td>
                      {% else %}
                      <td>No offers</label>
                      </td>
                       {% endif %}
            
                </tr>
                    {%endfor%}    
                   </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

  </div>
  </div>


{% endblock content %}


