{% extends 'admin_dash/dash.html'%}
{% load static%}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title">Edit Brands</h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
            </nav>
        </div>
  
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Brands</h4>
                    <p class="card-description">Basic form layout</p>
                    <form class="forms-sample" method="POST" action="{% url 'update_order_status' order.tracking_no %}">

                        {% csrf_token %}
  
                        <div class="form-group">
                            <label for="id_status">Status</label>
                            <select name="status" class="form-control" id="id_status">
                                <option value="Order Confirmed" {% if order.status == "Order Confirmed" %}selected{% endif %}>Order Confirmed</option>
                                <option value="Out For Shipping" {% if order.status == "Out For Shipping" %}selected{% endif %}>Out For Shipping</option>
                                <option value="Shipped" {% if order.status == "Shipped" %}selected{% endif %}>Shipped</option>
                                <option value="Out For Delivery" {% if order.status == "Out For Delivery" %}selected{% endif %}>Out For Delivery</option>
                                <option value="Deliverd" {% if order.status == "Deliverd" %}selected{% endif %}>Deliverd</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success mr-2">Save Changes</button>
                        <a href="" class="btn btn-dark">Cancel</a>
                    </form>
{% comment %}   
                 {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}  {% endcomment %}
                    
                </div>
            </div>
        </div>
    </div>
  </div>
  
{% endblock content %}