<!-- otp_email_template.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP for Sign Up</title>
</head>
<body>
    <div>
        <h2>Kickoffsaga Sign Up</h2>
        <h4>OTP for Sign Up</h4>
        <p>Dear User,</p>
        <p>Your OTP for sign up is: <strong>{{ otp }}</strong></p>
        <p>This OTP is valid for the next 1 minute.</p>
        <p>Thank you for signing up!</p>
    </div>
</body>
</html>
